{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load website_filters %}


<!--Attaching and loading topic as link definitions-->
    {% include 'website/topicaslink001.html' %}
<!--/Attaching and loading topic as link definitions-->

<!--Attaching and loading topic as text definitions-->
    {% include 'website/topicastext001.html' %}
<!--/Attaching and loading topic as text definitions-->

<!--Attaching and loading topic definitions-->
    {% include 'website/topic001.html' %}
<!--/Attaching and loading topic definitions-->
