{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}

<!--Loading parallax image background for IMAGE3-->

<!--header-->
{% for object in hgpis %}
    {% if object.display_position == 'IMAGE3' and object.layout == 'LAON' %}
        <!--load landscape IMAGE3 only available-->
        {% include 'website/parallax001c.html' %}
        <!--/load landscape IMAGE3 only available-->

    {% elif object.display_position == 'IMAGE3' and object.layout == 'LAPO' %}
        <!--load landscape and portrait IMAGES3 available-->
        {% include 'website/parallax002c.html' %}
        <!--/load landscape and portrait IMAGES3 available-->

    {% elif object.display_position == 'IMAGE3' and object.layout == 'NOIM' %}
        <!--load no landscape and no portrait IMAGES3 available-->
        {% include 'website/parallax003c.html' %}
        <!--/load no landscape and no portrait IMAGES3 available-->

    {% elif object.display_position == 'IMAGE3' and object.layout == 'LAONim' %}
        <!--load landscape with IMAGE3 map004 link-->
        {% include 'website/parallax004c.html' %}
        <!--/load landscape with IMAGE3 map004 link-->

    {% elif object.display_position == 'IMAGE3' and object.layout == 'LAONimt' %}
        <!--load landscape with IMAGE3 map005 with tool tip-->
        {% include 'website/parallax005c.html' %}
        <!--/load landscape with IMAGE3 map005 with tool tip-->

    {% elif object.display_position == 'IMAGE3' and object.layout == 'LAONimtl' %}
        <!--load landscape with IMAGE3 map006 with tool tip and link-->
        {% include 'website/parallax006c.html' %}
        <!--/load landscape with IMAGE3 map006 with tool tip and link-->

    {% elif object.display_position == 'IMAGE3' and object.layout == 'LAONmtb' %}
        <!--load landscape with IMAGE3 map007 with moveable textbox-->
        {% include 'website/parallax007c.html' %}
        <!--/load landscape with IMAGE3 map007 with moveable textbox-->
    
    {% elif object.display_position == 'IMAGE3' and object.layout == 'LAONmtbl' %}
        <!--load landscape with IMAGE3 map008 with moveable textbox with link-->
        {% include 'website/parallax008c.html' %}
        <!--/load landscape with IMAGE3 map008 with moveable textbox with link-->
    {% endif %}

{% empty %}
{% endfor %}
