{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load user_agents %}
{% load website_filters %}

<!--Attaching and loading topic definitions-->
    {% include 'website/topic0001.html' %}
<!--/Attaching and loading topic definitions-->

<!--Attaching and loading topic as text definitions-->
    {% include 'website/topicastext0001.html' %}
<!--/Attaching and loading topic as text definitions-->

<!--Attaching and loading topic as link definitions-->
    {% include 'website/topicaslink0001.html' %}
<!--/Attaching and loading topic as link definitions-->




