{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load website_filters %}

<!--Loading ROW1 parallax image background for IMAGE1-->

<!--header-->
{% for object in hgpis %}
    {% if object.display_position == 'IMAGE1' and object.layout == 'LAON' %}
        <!--load landscape image1 only available-->
        {% include 'website/parallax001.html' %}
        <!--/load landscape image1 only available-->

    {% elif object.display_position == 'IMAGE1' and object.layout == 'LAPO' %}
        <!--load landscape and portrait images1 available-->
        {% include 'website/parallax002.html' %}
        <!--/load landscape and portrait images1 available-->

    {% elif object.display_position == 'IMAGE1' and object.layout == 'NOIM' %}
        <!--load no landscape and no portrait images1 available-->
        {% include 'website/parallax003.html' %}
        <!--/load no landscape and no portrait images1 available-->

    {% elif object.display_position == 'IMAGE1' and object.layout == 'LAONim' %}
        <!--load landscape with image1 map004 link-->
        {% include 'website/parallax004.html' %}
        <!--/load landscape with image1 map004 link-->

    {% elif object.display_position == 'IMAGE1' and object.layout == 'LAONimt' %}
        <!--load landscape with image1 map005 with tool tip-->
        {% include 'website/parallax005.html' %}
        <!--/load landscape with image1 map005 with tool tip-->

    {% elif object.display_position == 'IMAGE1' and object.layout == 'LAONimtl' %}
        <!--load landscape with image1 map006 with tool tip and link-->
        {% include 'website/parallax006.html' %}
        <!--/load landscape with image1 map006 with tool tip and link-->

    {% elif object.display_position == 'IMAGE1' and object.layout == 'LAONmtb' %}
        <!--load landscape with image1 map007 with moveable textbox-->
        {% include 'website/parallax007.html' %}
        <!--/load landscape with image1 map007 with moveable textbox-->
    
    {% elif object.display_position == 'IMAGE1' and object.layout == 'LAONmtbl' %}
        <!--load landscape with image1 map008 with moveable textbox with link-->
        {% include 'website/parallax008.html' %}
        <!--/load landscape with image1 map008 with moveable textbox with link-->
    {% endif %}

{% empty %}
{% endfor %}
