{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load website_filters %}


<!--Loading ROW7 Text Area-->
<div class="container">

    <!--Carousel Wrapper-->
    <div id="multi-item-7" class="carousel slide carousel-multi-item" data-ride="carousel">
    {% comment %}
    <!--Controls-->
    <div class="controls-top">
        <a style="background-color: transparent;" class="" href="#multi-item-7" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a style="background-color: transparent;" class="" href="#multi-item-7" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
    {% endcomment %}


    <!--Indicators-->
    <ol class="carousel-indicators">
        
        {% for hgtext in hgtexts %}
            {% if hgtext.display_position_text == 'ROW7' %}
                {% if forloop.counter0 = 0 %}
                    <li class="primary-color" data-target="#multi-item-7" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                {% elif forloop.counter0 != 0 %}
                    <li class="primary-color" data-target="#multi-item-7" data-slide-to="{{ forloop.counter0 }}"></li>
                {% endif %}
            {% endif %}
        {% empty %}
        {% endfor %}
    
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

    {% for hgtext in hgtexts %}
        {% if hgtext.display_position_text == 'ROW7' %}
            {% if forloop.counter0 = 0 %}
            <!--First slide-->
            <div class="carousel-item active mb-r wow animated zoomIn" data-wow-delay="0.1s">
                <div class="" id="sec2" style="background-color: white !important;">
                   
                    <!--Second Section Text Section one-->
                        <div class="container">
                            <div class="text-center">
                                {% if hgtext.main_title_text %}
                                <span class="noselect font-vibes-md wow fadeInUpBig" data-wow-delay="0.2s">{{ hgtext.main_title_text }}</span><br>      
                                {% endif %}


                                {% if hgtext.secondary_title_text %}
                                    <span class="noselect cyan-text text-center wow flipInX" data-wow-delay="0.1s">- {{ hgtext.secondary_title_text }} -</span><br><br>
                                {% endif %}

                                {% if hgtext.short_description_text %}
                                    <span class="noselect text-center wow fadeIn" data-wow-delay="0.1s">"{{ hgtext.short_description_text }}"</span><br><br>
                                {% endif %}

                                <!--load text section translated files -->
                                    {% include 'website/translatedfilestext.html' %}
                                <!--/load text section translated files -->

                                {% if hgtext.button_name and hgtext.link_url %}
                                    <a href="{{ hgtext.link_url }}" class="blue-text" data-wow-delay="0.1s">{{ hgtext.button_name }}</a>
                                {% endif %}
                                
                            </div>
                            
                        </div>
                        
                    <!--/Second Section Text Section one-->
                    <div class="divider"></div>
                    
                </div>
            </div>
            <!--/First slide-->
            
            {% elif forloop.counter0 != 0 %}
            <!--Second slide-->
            <div class="carousel-item mb-r wow animated zoomIn" data-wow-delay="0.1s">
                <div class="" id="sec2" style="background-color: white !important;">
                    <div class="divider"></div>
                    <!--Second Section Text Section one-->
                    
                        
                        <div class="container">
                            
                            <div class="text-center">
                                {% if hgtext.main_title_text %}
                                <span class="noselect font-vibes-md wow fadeInUpBig" data-wow-delay="0.2s">{{ hgtext.main_title_text }}</span><br>      
                                {% endif %}


                                {% if hgtext.secondary_title_text %}
                                    <span class="noselect cyan-text text-center wow flipInX" data-wow-delay="0.1s">- {{ hgtext.secondary_title_text }} -</span><br><br>
                                {% endif %}

                                {% if hgtext.short_description_text %}
                                    <span class="noselect text-center wow fadeIn" data-wow-delay="0.1s">"{{ hgtext.short_description_text }}"</span><br><br>
                                {% endif %}

                                <!--load text section translated files -->
                                    {% include 'website/translatedfilestext.html' %}
                                <!--/load text section translated files -->

                                {% if hgtext.button_name and hgtext.link_url %}
                                    <a href="{{ hgtext.link_url }}" class="blue-text" data-wow-delay="0.1s">{{ hgtext.button_name }}</a>
                                {% endif %}
                            </div>
                        </div>
                        
                    <!--/Second Section Text Section one-->
                    <div class="divider"></div>
                    
                </div>
            </div>
            <!--/Second slide-->
            {% endif %}

        {% endif %}
    {% empty %}
    {% endfor %}
    </div>
    <!--Slides-->
    </div>
    <!--Carousel Wrapper-->
</div>
<!--/Loading ROW7 Text Area-->