{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load staticfiles %}
{% load user_agents %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}

<!--load background parallax Image1 -->
{% include 'website/index001.html' %}
<!--load background parallax Image1 -->

<!--load ROW1 Text Area -->
{% include 'website/index002.html' %}
<!--load ROW1 Text Area -->

<!--load ROW2 Topics/Link Area -->
{% include 'website/index003.html' %}
<!--load ROW2 Topics/Link Area -->

<!--load background parallax Image2 -->
{% include 'website/index004.html' %}
<!--load background parallax Image2 -->

<!--load ROW3 Text Area -->
{% include 'website/index005.html' %}
<!--load ROW3 Text Area -->

<!--load ROW4 Topics/Link Area -->
{% include 'website/index006.html' %}
<!--load ROW4 Topics/Link Area -->

<!--load background parallax Image3 -->
{% include 'website/index007.html' %}
<!--load background parallax Image3 -->

<!--load ROW5 Text Area -->
{% include 'website/index008.html' %}
<!--load ROW5 Text Area -->

<!--load ROW6 Topics/Link Area -->
{% include 'website/index009.html' %}
<!--load ROW6 Topics/Link Area -->

<!--load ROW7 Text Area/ Testimonial Area-->
{% include 'website/index010.html' %}
<!--load ROW7 Text Area/ Testimonial Area-->

<!--load ROW9 Text Area -->
{% include 'website/index011.html' %}
<!--load ROW9 Text Area -->

<!--mapsection-->
{% include 'website/index012.html' %}
<!--/mapsection-->

{% endblock %}