{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}


{% if eo.layout == 'picture-left-text-right' %}
<div class="divider"></div>
<!--loading extend page layout2-->
<!--Layout picture-left-text-right-->
    
<div class="container-fluid" style="overflow: hidden;">
   <div class="row">
        <!--First column-->
        <div class="col-md-5 mb-r wow fadeInLeft" data-wow-delay="0.4s">
            <!--Featured image-->
            <div class="view overlay hm-black-slight z-depth-2 hoverable" style="max-height: 400px;">
                {% if eo.extendmedia and eo.display_section %}
                <img class="img-fluid" src="{{ eo.extendmedia.url }}">
                {% endif %}
                    <a>
                        <div class="mask"></div>
                    </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r wow fadeInRight" data-wow-delay="0.4s" style="padding: 0px 30px 0px 30px;">
            <!--Excerpt-->
            <h3 class=""><i class="fa fa-television"></i>{{ eo.main_title }}</h3>
            <h5 class="{{ eo.high_title_color }}"><strong>{{ eo.high_title }}</strong></h5>
            
            <div class="excerpt wow fadeIn" data-wow-delay="0.4s">
                <p><lead>{{ eo.content }}</lead></p>
            </div>
        </div>
        <!--/Second column-->
    </div>
</div>


{% endif %}
