{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load website_filters %}



{% block content %}
<div class="divider"></div>
<div class="divider"></div>


<!--Permissions control-->
<div class="container-fluid" style="overflow: hidden;">
    <div class="row">
    <div class="col-md-12">
        <div class="col-md-11 col-xs-8 pull-left">
        {% for p in page_objects %}
        <h6><span class="badge red">Page ID: {{ p.pk }}<br> extend list</span></h6>
        </div>
        <div class="col-md-2 col-xs-2 pull-right mb-r wow slideInRight" data-wow-delay="0.2s">
            <a href="/producerpage_list/{{ p.functional_group }}" class="btn-floating btn-small red"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            <a href="/producer/" class="btn-floating btn-small red"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
        </div>
        {% empty %}
        {% endfor %}
    </div>
    </div>
    
    <!--Body-->
    <div class="container-fluid" style="overflow: hidden;">
        <div class="row">
            <div class="col-md-12">    
                <ul class="list-group">
                <a href="#" class="list-group-item mdb-color darken-3 white-text"><i class="fa fa-picture-o"></i>&nbsp;Extended Page List<span class="counter" style="margin-left:70%;">{{ object_list|length }}</span></a>
                {% for ppel in extend_objects %}
                <li class="list-group-item justify-content-between">
                <div class="container">
                    <div class="row">
                    
                    <div class="col-md-1 col-xs-1">
                        {% if ppel.extendmedia %}
                        <small><strong>Cover</strong></small><br>
                        <img src="{{ ppel.extendmedia.url }}" class="list-img-md img-responsive img-fluid" alt="page extend image"><br>
                        {% endif %}
                    
                        {% if ppel.translatedtxtfile1 or ppel.translatedtxtfile2 %}
                            <small><strong>Trans. Files</strong></small><br>
                        {% endif %}
                            
                        {% if ppel.translatedtxtfile1 %}
                            <i class="blue-text fa fa-file-text-o fa-2x"></i>
                        {% endif %}

                        {% if ppel.translatedtxtfile2 %}
                            <i class="blue-text fa fa-file-o fa-2x"></i>
                        {% endif %}
                    </div>
                    
                    <div class="col-md-5 pull-left">
                        <small><strong>Title:</strong> {{ ppel.main_title }}</small>
                        <small>{{ ppel.high_title }}</small><br>
                        <small><strong>Position:</strong> {{ ppel.display_section }}</small><br>
                        <small><strong>Focus:</strong> {{ ppel.focus }}</small><br>
                        {% for p in page_objects %}
                        <small><strong>Page ID:</strong> {{ p.pk }}</small><br>
                        {% empty %}
                        {% endfor %}
                        <small><strong>Extend ID:</strong> {{ ppel.pk }}</small><br>
                        <small><strong>Owner:</strong> {{ ppel.owner }}</small><br>
                        
                    </div>

                    <div class="col-md-4 pull-left">
                        <small><strong>Layout:</strong> {{ ppel.layout }}</small><br>
                        {% if ppel.map1_coordinate %}
                        <small><strong>Coord1:</strong> {{ ppel.map1_coordinate }}</small><br>
                        <small><strong>MapLink1:</strong> {{ ppel.map1_link }}</small><br>
                        {% endif %}

                        {% if ppel.map2_coordinate %}
                        <small><strong>Coord2:</strong> {{ ppel.map2_coordinate }}</small><br>
                        <small><strong>MapLink2:</strong> {{ ppel.map2_link }}</small><br>
                        {% endif %}

                        <small><strong>Created:</strong> {{ ppel.edited_on }}</small><br>
                        <small><strong>Updated:</strong> {{ ppel.updated }}</small><br>
                        
                        {% if ppel.is_verified = 0 %}
                        <small><strong>Verified?</strong><span class="counter red" style="margin-left:5%;">{{ ppel.is_verified }}</span></small><br>
                        {% else %}
                        <small><strong>Verified?</strong><span class="counter green" style="margin-left:5%;">{{ ppel.is_verified }}</span></small><br>
                        {% endif %}

                        {% if ppel.is_published = 0 %}
                        <small><strong>Published?</strong><span class="counter red" style="margin-left:5%;">{{ ppel.is_published }}</span></small><br>
                        <a href="/helpdesk/userticket_create"><i class="fa fa-ticket"></i><span>&nbsp;request to publish</span></a>
                        {% else %}
                        <small><strong>Published?</strong><span class="counter green" style="margin-left:5%;">{{ ppel.is_published }}</span></small><br>
                        {% endif %}
                    </div>

                    <div class="col-md-1 pull-right">
                        <h6 class="btn btn-info btn-sm btn-rounded" style="float:right;"><a href="/{{ ppel.id }}/producerpageextend_detail">detail</a></h6>
                    </div>

                    <div class="col-md-1 pull-right">
                        <h6 class="btn btn-warning btn-sm btn-rounded" style="float:right;"><a href="/{{ ppel.id }}/producerpageextend_update">update</a></h6>
                    </div>

                    </div>
                </div>
                </li>
                {% empty %}
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!--Body-->

    <div class="divider"></div>

    <div class="pull-right">
        {% if is_paginated %}
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
            </li>
        {% endif %}
            <li class="">
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            </li>
        {% if page_obj.has_next %}
            <li>
                <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
            </li>
        {% endif %}
        </ul>
        {% else %}
            <p class="deep-orange-text text-center">end of list</p>
        {% endif %}
    </div>
</div>
<div class="divider"></div>

{% endblock %}