{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load website_filters %}

<!--Attaching and loading topic as link definitions-->
    {% include 'website/topicaslink002.html' %}
<!--/Attaching and loading topic as link definitions-->

<!--Attaching and loading topic as text definitions-->
    {% include 'website/topicastext002.html' %}
<!--/Attaching and loading topic as text definitions-->

<!--Attaching and loading topic definitions-->
    {% include 'website/topic002.html' %}
<!--/Attaching and loading topic definitions-->

