{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load website_filters %}
{% block content %}
<head>
<style>

@media screen and (orientation: landscape) {
        .avatarp {
           height: 75px !important;
           width: auto;
       }    
}


@media screen and (orientation: portrait) {
       .avatarp {
           height: 50px !important;
           width: auto;
       }

       .small {
           color: #2196f3 !important;
           
       }
}


@media (min-width: 275px) {

    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
        overflow: hidden !important;
    }
}

</style>
</head>

<div class="divider"></div>
<div class="divider"></div>

<!--Attaching and loading resource definitions-->

<!--Resource layout 1-->
    <!--main container-->
    <div class="container" style="overflow:hidden;">
        <!--row-->
        <div class="row">
            <!--left column -->
            <div class="col-sm"></div>
            <!--/left column -->
            
            <!--center column-->
            <div class="col-sm mb-r">
                <!--card-->
                <div class="">
                    
                    <!--image-->
                    <div class="view overlay hm-white-slight">
                        <a href="{{ object.resource_item.url }}" download>
                                {% if object.file_type|slugify == "ppt"|slugify %}
                                    <i class="red-text fa fa-file-powerpoint-o fa-5x" aria-hidden="true"></i><br>
                                {% endif %}

                                {% if object.file_type|slugify == "pptx"|slugify %}
                                    <i class="red-text fa fa-file-powerpoint-o fa-5x" aria-hidden="true"></i><br>
                                {% endif %}

                                {% if object.file_type|slugify == "pdf"|slugify %}
                                    <i class="red-text fa fa-file-pdf-o fa-5x" aria-hidden="true"></i><br>
                                {% endif %}

                                {% if object.file_type|slugify == "mp3"|slugify %}
                                    <i class="red-text fa fa-file-audio-o fa-5x" aria-hidden="true"></i><br>
                                {% endif %}

                                {% if object.file_type|slugify == "mp4"|slugify %}
                                    <i class="red-text fa fa-file-video-o fa-5x" aria-hidden="true"></i><br>
                                {% endif %}
                                <i class="green-text fa fa-download fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!--/image-->
                    
                    <!--body-->
                    <div class="bluegrey-text">
                        {% if object.item_name %}
                            <small>Item Name:<strong>{{ object.item_name }}</strong></small><br>
                        {% endif %}

                        {% if object.item_name_locale %}
                            <small>Locale Name:<strong>{{ object.item_name_locale|print_file_withlines:0 }}</strong></small><br>
                        {% endif %}

                        {% if object.genre %}
                            <small>Genre:<strong>{{ object.genre }}</strong></small><br>
                        {% endif %}

                        {% if object.created %}
                            <small>Released:<strong>{{ object.created|get_due_date_string }}</strong></small><br>
                        {% endif %}

                        {% if object.updated %}
                            <small>Updated:<strong>{{ object.updated }}</strong></small><br>
                        {% endif %}





                        
                        <a href="/{{ object.id }}/">
                            <h6 class="white-text card-data">{{ object.title|upper }}</h6>
                        </a>
                    </div>
                    <!--/body-->
                </div>
                <!--/card-->
            </div>
            <!--/center column-->

            <!--right column -->
            <div class="col-sm"></div>
            <!--/right column -->

        </div>
        <!--/row-->
    </div>
    <!--/main container-->
<!--/resource layout 1-->


<!--container4-->
<div class="container" style="overflow:hidden;">
<div class="row">
    <div class="col-md-10 col-sm-10 ">
    </div>
    
    <div class="col-md-2 col-sm-2">
        <a href="/producer/" class="btn btn-primary pull-right">Resource</a>
    </div>
</div>
<!--/container4-->


{% endblock %}

