{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load user_agents %}
{% load website_filters %}

<head>
    <style>

        #team-title {
            margin-top: 1em;
            padding-bottom: 1em;
        }

        {% if request|is_mobile %}
             @media screen and (orientation: landscape) {
                    #team-title {
                    margin-top: 4em;
                    padding-bottom: 1em;
                }
             }
        {% endif %}


            @media screen and (orientation: portrait) {
                #team-title {
                    margin-top: 3em;
                    padding-bottom: 1em;
                }
            }    
    
    </style>
</head>



        <!--Teammember001 Leader-->
        <!--Section: Page>Team Name>Team Member001-->
            {% for tl in teammembers_objects %}
            {% if not tl.hierarchy = '2' and tl.teamname_id|slugify = tn.team_name|slugify and tl.layout == 'Standard' %}
                <!--Team head section-->
                <div class="container" style="overflow: hidden;">
                        <!--First row-->
                        <div class="row text-center">

                            <!--Dummy First column-->
                            <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.1s">
                                <!--do not remove left space adjustment-->                        
                            </div>
                            <!--/Dummy First column-->

                            <!--Second column-->
                            <div class="col-md-4 mb-r wow fadeIn" data-wow-delay="0.2s">
                                <div class="testimonial">
                                    <!--Avatar-->
                                    {% if tl.hierarchy = '1' %}
                                        {% if tl.member_picture %}
                                    <div class="avatar middle mb-r wow animated zoomIn" data-wow-delay="0.1s">
                                        <img src="{{ tl.member_picture.url }}" class="rounded-circle team-leader img-fluid">
                                    
                                    </div>
                                        {% endif %}

                                    <!--Content-->
                                    {% if tl.member_name %}
                                        <h4 class="black-text">{{ tl.member_name }}</h4>
                                    {% endif %}

                                    {% if tl.member_title %}
                                        <h6>{{ tl.member_title }}</h6>
                                    {% endif %}

                                        {% if tl.member_crux %}
                                            <small>{{ tl.member_crux }}</small><br>
                                        {% endif %}
                                        
                                        {% if tl.translatedtxtfile2 %}
                                            <small>{{ tl.translatedtxtfile2|print_file_content }}</small>
                                        {% endif %}

                                        {% if tl.more_link %}
                                            <small><a href="{{ tl.more_link }}">...more</a></small>
                                        {% endif %}

                                    {% endif %}
                                </div>
                            </div>
                            <!--/Second column-->

                            <!--Dummy Third column-->
                            <div class="col-md-4 mb-r wow fadeInDown" data-wow-delay="0.5s">
                                <!--do not remove left space adjustment-->                        
                            </div>
                            <!--/Dummy Third column-->

                        </div>
                        <!--/First row-->
                </div>
                <!--/Team head section-->
                {% endif %}
            {% empty %}
            {% endfor %}
        <!--Teammember001 Leader-->

        <!--Teammember001 members container-->
        <div class="container" style="overflow: hidden;">
        <div class="row">
            <div class="col-md-12">
            {% for tm in teammembers_objects %}
                {% if tm.hierarchy = '2' and tm.teamname_id|slugify = tn.team_name|slugify and tm.layout == 'Standard' %}
                <!--Column 1-->
                <div class="col-md-6 mb-r pull-left wow fadeIn" data-wow-delay="0.1s">
                    <div class="media">
                        
                        <a class="media-left mb-r wow animated zoomIn" data-wow-delay="0.1s">
                            <img class="rounded-circle team-member img-fluid" src="{{ tm.member_picture.url }}">
                        </a>
                        <div class="media-body">
                            {% if tm.member_name %}
                                <h5 class="black-text media-heading">{{ tm.member_name }}</h5>
                            {% endif %}

                            {% if tm.member_title %}
                                <h6>{{ tm.member_title }}</h6>
                            {% endif %}

                                {% if tm.member_crux %}
                                    <small>{{ tm.member_crux }}</small><br>
                                {% endif %}
                                        
                                {% if tm.translatedtxtfile2 %}
                                    <small>{{ tm.translatedtxtfile2|print_file_content }}</small>
                                {% endif %}

                                {% if tm.more_link %}
                                    <small><a href="{{ tm.more_link }}">...more</a></small>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <!--/Column 1-->
            {% empty %}
            {% endfor %}
            </div>
        </div>
        <!--/Row-->
        </div>
        <!--/Teammember001 members container-->