{% load static %}
{% load user_agents %}
{% load website_filters %}

<!--Text Section Translated file 1-->
{% if hgtext.translatedtxtfile1 %}
<div class="container-fluid">

    <div class="col-md-10 offset-md-1">
        {%  if hgtext.translatedtxtfile1|print_file_withlines:0 %}
        <div class="row">
            <h5 class="badge red noselect pad5" style:"text-align: right;">{{ hgtext.translatedtxtfile1|print_file_withlines:0 }}</h5><br>
        </div>
        <br>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:1 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:1 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:2 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:2 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:3 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:3 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:4 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:4 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:5 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:5 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:6 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:6 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:7 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:7 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:8 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:8 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:9 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:9 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:10 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:10 }}</p><br>
        </div>
        {% endif %}

        {%  if hgtext.translatedtxtfile1|print_file_withlines:11 %}
        <div class="row">
            <p class="noselect pad5">{{ hgtext.translatedtxtfile1|print_file_withlines:11 }}</p><br>
        </div>
        {% endif %}

        <div class="divider"></div>
    </div>
</div>
{% endif %}
<!--/Text Section Translated file 1-->


<!--Text Section Translated file 2-->
{% if hgtext.translatedtxtfile2 %}
<div class="container-fluid">

<div class="col-md-10 offset-md-1">
    <div class="row">
        <div class="noselect pad5">{{ hgtext.translatedtxtfile2|print_file_content }}</div>
    </div>
</div>    
</div>
<div class="divider"></div>
{% endif %}
<!--/Text Section Translated file 2-->