{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="divider"></div>
<div class="divider"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card-block wow fadeInDown" data-wow-delay="0.3s">
                <p>{% trans "Enter your new password below to reset your password:" %}</p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success col-md-5 pull-right">{% trans 'Set password' %}</button>
                    <!--
                    <input type="submit" value="{% trans 'Set password' %}" />
                    -->
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{# This is used by django.contrib.auth #}
