{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="divider"></div>
<div class="divider"></div>

<div class="container-fluid">
<div class="row">
<div class="col-md-6 offset-md-3">
    <div class="card-block wow fadeInDown" data-wow-delay="0.3s">
        <p class="">
            {% blocktrans %}
            Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </p>
        <span class="font-helvetica-xs">
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <input class='btn btn-warning btn-block' type="submit" value="{% trans 'Reset password' %}" />
        </form>
        </span>
    </div>
</div>
</div>
</div>
<div class="divider"></div>
{% endblock %}


{# This is used by django.contrib.auth #}
