{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Support Admin is working on thisticket...{% endblock %}

{% block content %}
<div class="divider"></div>
<div class="divider"></div>

<div class="container-fluid">
    <div class="row">
    <!--Offsets-->
    <div class="col-md-6 offset-md-3">
        <!--Header-->
        <div class="">
            <h3 class="light-blue-text text-right"><i class="fa fa-thumbs-up"></i>Support admin is working on this ticket...</h3>
        </div>
        <!--/Header-->
            <!--Body-->
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                {{form|crispy}}
                </table>
                <button type="submit" class="btn btn-success col-md-5 pull-left">Confirm</button>
                <a href="/helpdesk/supportticket_list/" class="btn btn-primary col-md-5 pull-right">Back</a>
            </form>
            <!--/Body-->
    </div>
    </div>
</div>

{% endblock %}